@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins&display=swap');

body{
  font-family: 'Baloo Bhai 2', 'Poppins', sans-serif;
  width: 60%;
  margin: 10vh auto;
}

.appdiv{

  background-color: rgba(255, 255, 255, 0.5);
  min-height: 80vh;
  z-index: 1;
  position: relative; 
}